NEXT_PUBLIC_SUPABASE_URL=https://sbwhgeuydfygudyicaej.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNid2hnZXV5ZGZ5Z3VkeWljYWVqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ5OTQ1MDgsImV4cCI6MjEwMDU3MDUwOH0.cTq4TjqEcLAdhsu-zCz9neH_JWwIn69mYByItCGDw0c
NEXT_PUBLIC_SITE_URL=http://localhost:3000
